{% extends 'base.html' %}

{% block content %}
<h1>Who is Chris?</h1>
<hr/>
<h3>Things to know about me:</h3>

<div class="my-name">
    <p> My name is Chris Scanlan </p>
    <p>I have a passion for all things creative, whether that be singing, writing, performing or coding</p>
    <p>I live in and around the Greater Manchester area, but I have travelled all across the UK as an actor and performer!</p>
</div>

<div class="video-v">
    <iframe src="https://player.vimeo.com/video/397294824?h=f689378d6e" alt="Crhis Scanlan - Acting Showreel" width="440" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>

    <p class="vimeo"><a href="https://vimeo.com/397294824">Chris Scanlan - Acting Showreel</a> from <a href="https://vimeo.com/user109598991">Christopher Scanlan</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<!-- <iframe width="50%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/325432261&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-13442256" title="Chris Scanlan" target="_blank" style="color: #cccccc; text-decoration: none;">Chris Scanlan</a> · <a href="https://soundcloud.com/user-13442256/stuck-in-the-middle-with-you-cover" title="Stuck In The Middle With You (live cover)" target="_blank" style="color: #cccccc; text-decoration: none;">Stuck In The Middle With You (live cover)</a></div> -->

<!-- <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/325432261&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-13442256" title="Chris Scanlan" target="_blank" style="color: #cccccc; text-decoration: none;">Chris Scanlan</a> · <a href="https://soundcloud.com/user-13442256/stuck-in-the-middle-with-you-cover" title="Stuck In The Middle With You (live cover)" target="_blank" style="color: #cccccc; text-decoration: none;">Stuck In The Middle With You (live cover)</a></div> -->

<!-- 
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/348901945&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-13442256" title="Chris Scanlan" target="_blank" style="color: #cccccc; text-decoration: none;">Chris Scanlan</a> · <a href="https://soundcloud.com/user-13442256/rolling-in-the-deep-live-cover" title="Rolling In The Deep (live cover)" target="_blank" style="color: #cccccc; text-decoration: none;">Rolling In The Deep (live cover)</a></div> -->


{% endblock %}


